.cameralogo {
    max-width: 7%;
    max-height: 90%;
    
}
.nav-wrapper .brand-logo {
    font-family: oleo script;
    font-size: 40px;
    text-shadow: 2px 2px #000000;
      
}
.page-footer .circle {
    width: 19%;
    padding: 10px;
    
}
.nav-wrapper .sidetext {
    color: white;
}